<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}} 12312321
    <p>Some text here</p>

    <!--  render footer.hbs from partials folder-->
    {{> footer}}
  </body>
</html>
