<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance!</title>
  </head>
  <body>
    <h1>OOPS! Server under maintenance!</h1>
    <p>Site currently under construction.. We'll be right back!</p>
  </body>
</html>
